@use '@angular/material' as mat;

html {
  color-scheme: light dark;
  @include mat.theme((
    color: mat.$azure-palette,
    typography: monospace,
    density: -1
  ));
}

// DSL Utility Classes
.flex-spacer {
  flex: 1 1 auto;
}
