<mat-card class="container mx-auto max-w-fit">
  <mat-card-title>You can find me here</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item >
        <a matListItemTitle target="_blank" rel="noopener noreferrer" 
          href="https://www.linkedin.com/in/michael-stramel-063278287/">
          LinkedIn
        </a>
      </mat-list-item>
      <mat-list-item >        
        <a matListItemTitle target="_blank" rel="noopener noreferrer" 
          href="https://github.com/ttugates">
          GitHub
        </a>
      </mat-list-item>
      <mat-list-item >         
        <a matListItemTitle target="_blank" rel="noopener noreferrer" 
          href="https://stackoverflow.com/users/1327570/ttugates">
          stackoverflow
        </a>
      </mat-list-item>
      <mat-list-item>        
        <a matListItemTitle target="_blank" rel="noopener noreferrer" 
          href="https://x.com/Michael_Stramel">
          X
        </a>
      </mat-list-item>
      <mat-list-item >                
        <a matListItemTitle target="_blank" rel="noopener noreferrer" 
          href="https://bsky.app/profile/mikestramel.bsky.social">
          Bluesky
        </a>
      </mat-list-item>
    </mat-list> 
  </mat-card-content>
</mat-card>
`