<mat-toolbar>
  <button mat-icon-button class="example-icon" 
    aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Michael Stramel's Angular Demo</span>
  <span class="flex-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" 
    aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" 
    aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
  <mat-slide-toggle 
    [checked]="themeSvc.colorSchemeSignal() === 'dark'"
    (change)="$event.checked ? themeSvc.setToDarkMode() : themeSvc.setToLightMode()">
    {{themeSvc.colorSchemeSignal() === 'dark' ? "Dark Mode" : "Light Mode"}}
  </mat-slide-toggle>
</mat-toolbar>

<router-outlet />
